body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul li {
    list-style: none;
}


/* 头部样式 */

.head {
    border: 1px solid red;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
}


/* 顶部导航标题样式 */

.nav-top {
    border: 1px solid blue;
    height: 40px;
    position: fixed;
    top: 50px;
    left: 200px;
    right: 0;
    padding: 0 80px 0 40px;
    line-height: 40px;
}


/* 左边导航样式 */

.nav-left {
    border: 1px solid yellow;
    position: fixed;
    width: 200px;
    height: 100%;
    overflow: hidden;
    top: 0;
    padding-top: 50px;
}


/* 内容样式 */

.content {
    border: 1px solid green;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 200px;
    right: 0;
}


/* 顶部导航细节样式 */

.nav-top-control {
    font-size: 16px;
    position: absolute;
    width: 40px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #f6f6f6;
}

.nav-top-control.fa {
    font-size: 16px;
    line-height: 40px;
}

.nav-top-prev {
    top: 0;
    left: 0;
}

.nav-top-next {
    top: 0;
    right: 40px;
    border-left: 1px solid #f6f6f6;
}

.nav-top-down {
    top: 0;
    right: 0;
}

.nav-top-tab {
    height: 100%;
    line-height: 40px;
    text-align: left;
}

.nav-top-tab ul {
    height: 100%;
    line-height: 40px;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0;
}


/* 导航标题栏样式 */

.nav-top-tab ul li {
    display: inline-block;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    min-width: 0;
    max-width: 160px;
    padding: 0 30px 0 10px;
    cursor: pointer;
    color: #999;
    border-right: 1px solid #f6f6f6;
    vertical-align: top;
    font-size: 14px;
}

.nav-top-tab ul li:hover {
    background-color: #e2e2e2;
    color: #000;
}

.nav-top-tab ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0;
    background-color: #292B34;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.nav-top-tab ul li:hover::after {
    width: 100%;
}

.nav-top-tab ul li:first-child {
    padding: 0 15px;
    color: inherit;
}


/* 关闭样式 */

.nav-top-tab ul li .nav-top-close {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    margin: -7px 0 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 20%;
    font-size: 12px;
    text-align: center;
}

.nav-top-tab ul li .nav-top-close:hover {
    background-color: #ff4500bf;
    color: #000;
}


/* 选中标签样式 */

.nav-top-tab-this {
    color: #000;
}

.nav-top-tab ul li.nav-top-tab-this::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    border: none;
    height: 2px;
    background-color: #292B34;
}